.activeLink {
  border-bottom: 3px solid var(--dark-main-1);

}


.adminNavbar {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .adminNavbar {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }


}