.ManageUsersSection {
  width: clamp(350px, 100%, 760px);
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

}

.UISection {
  display: flex;
}