.ManageAssetsComponent {
  box-shadow: 3px 3px 3px 3px var(--dark-main-1);
  padding: 0.5rem;
}

.ManageAssetsComponentInputs {
  margin: auto;
}

.deleteDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-end;
  margin: 0.5rem;
  justify-content: center;
}