.Textarea {
  background-color: var(--support-1);
  outline: none;

  border: 1px solid var(--dark-main-1);
  width: clamp(320px, 100%, 760px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}


.TextareaLabel {
  color: var(--light-main-1);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--dark-main-1);
  width: 100%;
  text-align: center;
  height: 2rem;
  padding-top: 0.5rem;
}

.labelAndTextarea {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}