.Textarea {
  background-color: var(--support-1);
  outline: none;
  border: none;
  box-shadow: 0 0 2px 2px var(--dark-main-1);
  width: clamp(200px, 100%, 760px);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}


.TextareaLabel {
  color: var(--dark-main-1);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.labelAndTextarea {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}