.newsUI {
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 1rem;
  margin: auto;
}

.controlButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 450px) {
  .newsUI {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .controlButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
}