.navbarSection {
  height: 3rem;
  width: clamp(300px, 100%, 760px);
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
}

.activeLink {
  border-bottom: 3px solid var(--dark-main-1);

}

.leftNavbarPart {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.navbarRightPart {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 600px) {
  /* .navbarSection {
    min-height: 5rem;
    max-width: 450px;
    margin: 0.25rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

  } */

  .navbarSection {
    min-height: 6rem;
    max-width: 450px;
    justify-content: center;
    align-items: center;

  }

  .navbarSection>a {

    text-align: center;

  }
}