.navbarSection {
  min-height: 3rem;
  max-width: 760px;
  margin: auto;
}

.activeLink {
  border-bottom: 3px solid var(--dark-main-1);

}


.adminNavbar {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}