.navbarSection {
  height: 2.5rem;
  max-width: 760px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.activeLink {
  border-bottom: 3px solid var(--dark-main-1);

}



.navbarRightPart {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 600px) {
  .navbarSection {
    min-height: 5rem;
    max-width: 450px;
    margin: 0.25rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

  }

  .navbarSection>a {

    text-align: center;

  }
}