.myButton {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  text-align: center;

  border: 2px solid transparent;
  padding: 0.4rem 0.5rem 0.5rem 0.5rem;
  font-size: 1rem;
  transition: all .15s ease-in-out;

  border-color: var(--dark-main-1);
  height: 2rem;
  color: var(--light-main-1);
  background-color: var(--dark-main-1);
}

.myButton:hover {
  background-color: transparent;
  color: var(--dark-main-1);
  border-color: var(--dark-main-1);
}