.myButton {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 2px solid transparent;
  padding: 0.4rem 0.5rem 0.5rem 0rem;
  font-size: 1rem;
  transition: all .15s ease-in-out;
  border-color: var(--error-dark);
  height: 2rem;
  color: var(--light-main-1);
  background-color: var(--error-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 6rem;
}

.myButton:hover {
  background-color: transparent;
  color: var(--error-dark);
  border-color: var(--error-dark);

}