.card {
  transition: all 0.5s;
  background-color: var(--fontLightColor);
  border-color: var(--darkHeaderColor);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0px 2px 10px black;
  margin: 1rem auto;
  max-width: 95%;
}

.cardDarkTheme {
  transition: all 0.5s;
  background-color: black;
  border-color: var(--fontLightColor);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0px 2px 10px var(--fontLightColor);
  margin: 1rem auto;
  max-width: 95%;
  color: var(--fontLightColor);
}