.inputDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 15rem;
}

.myLabel {
  height: 2rem;
  color: var(--dark-main-1);
  border-top: 2px solid var(--dark-main-1);
  border-left: 2px solid var(--dark-main-1);
  border-bottom: 2px solid var(--dark-main-1);
  min-width: 6rem;
  padding-left: 0.1rem;
  padding-top: 0.3rem;
  text-align: center;
}

.myInput {
  border: none;
  background-color: var(--support-1);
  height: 2rem;
  padding-left: 0.5rem;
  border-bottom: 2px solid var(--dark-main-1);
  border-top: 2px solid var(--dark-main-1);
  border-right: 2px solid var(--dark-main-1);
  color: var(--classic);
}

.myInput:focus,
.myInput:active {
  transition: all 0.25s;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--dark-main-1);
  border-top: 2px solid var(--dark-main-1);
  border-right: 2px solid var(--dark-main-1);
  background-color: var(--light-main-1);
}