.InputDiv {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  margin: 0.1rem auto;
  border: 3px solid var(--darkHeaderColor);
}

.inputComp {
  transition: all 0.2s;
  border: 2px solid var(--darkHeaderColor);
  border-radius: 5px;
  margin: 0.5rem auto;
  box-shadow: 0 0 3px var(--darkHeaderColor), inset 0 0 0 var(--darkHeaderColor);
  outline: none;
  padding: 0.25rem;
  width: 95%;
}

.inputComp:active,
.inputComp:focus {
  background-color: white;

  box-shadow: 0 0 5px var(--darkHeaderColor), inset 0 0 5px var(--darkHeaderColor);
  outline: none;
}

.labelComp {
  padding-top: 0.8rem;
  margin-left: 1rem;
  text-align: left;
  color: var(--darkHeaderColor);
}