.inputDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0.1rem auto;
  width: fit-content;
  background-color: red;
}

input {
  transition: all 0.2s;
  border: 2px solid var(--darkHeaderColor);
  border-radius: 5px;
  margin: 0.5rem auto;
  box-shadow: 0 0 3px var(--darkHeaderColor), inset 0 0 0 var(--darkHeaderColor);
  outline: none;
  padding: 0.25rem;
}

input:active,
input:focus {
  background-color: var(--fontLightColor);
  transition: all 0.2s;
  box-shadow: 0 0 5px var(--darkHeaderColor), inset 0 0 5px var(--darkHeaderColor);
  outline: none;
}

label {
  padding-top: 0.8rem;
  margin-left: 1rem;
  text-align: left;
  color: var(--darkHeaderColor);
}