.radioButton {
  min-height: 2rem;
}

.radioLabel {
  display: grid;
  grid-template-columns: 20px 1fr;
  justify-content: center;
  align-items: center;
  color: var(--dark-main-1);
  cursor: pointer;
  scale: 1;
  padding: 0.5rem;
}

.radioLabel:hover {
  cursor: pointer;
  background-color: var(--support-1);
}

.radioButton input {
  margin: 0;
  height: 1rem;
  width: 1rem;
}