.rightTab {
  transition: all 0.5s;
  text-align: center;
  color: black;
  height: clamp(1.5rem, 100%, 2.2rem);
  min-width: 2rem;
  border: 3px solid var(--darkHeaderColor);
  border-radius: 50%;
}

.rightTab:hover {
  box-shadow: inset 2.5rem 0 0 0 var(--darkHeaderColor);
}

.rightTabActive {
  transition: all 0.5s;
  text-align: center;
  color: black;
  height: 2.5rem;
  width: 2.5rem;
  border: 3px solid var(--darkHeaderColor);
  border-radius: 5px;
  background-color: var(--darkHeaderColor);
}