.edge {
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  padding: 5px;
  margin: 1rem auto;
}

.edgeDark {
  box-shadow: 0 0 5px var(--fontLightColor);
  border-radius: 5px;
  padding: 5px;
  margin: 1rem auto;
}


section {
  display: grid;
  grid-template-columns: 1fr;
}