.tab {
  transition: all 0.5s;
  text-align: center;
  color: var(--fontLightColor);
  font-weight: bold;
  height: 2.5rem;
  width: clamp(40px, 100%, 10rem);
  padding-top: 0.7rem;
  border: 3px solid var(--darkHeaderColor);
  border-radius: 5px;
  cursor: pointer;
}

.tab:hover {
  box-shadow: inset 10rem 0 0 0 var(--darkHeaderColor);
  color: var(--fontLightishColor);
}