.Textarea {
  background-color: var(--support-1);
  outline: none;
  border: none;
  box-shadow: 0 0 2px 2px var(--dark-main-1);
  width: clamp(300px, 100%, 760px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}


.TextareaLabel {
  color: var(--dark-main-1);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}