.tinyInput {
  border: none;
  background-color: var(--support-1);
  height: 1.5rem;
  padding-left: 0.5rem;
  border-bottom: 2px solid var(--dark-main-1);
  border-top: 2px solid var(--dark-main-1);
  color: var(--classic);
  width: 100%;
}

.tinyInput:focus,
.tinyInput:active {
  transition: all 0.25s;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--dark-main-1);
  border-top: 2px solid var(--dark-main-1);
  background-color: var(--light-main-1);
}