.ManageExamSection {
  width: clamp(350px, 100%, 760px);
  margin: auto;
  margin-top: 1rem;
}

.ExamsUI {
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.ManageExamRadio {
  width: 100%;
  margin-bottom: 1rem;
  margin: auto;
}

.RadioAndDoctors {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}

.radioButtons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.scheduleTables {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.preparationsSection legend {
  color: var(--dark-main-1);
  font-weight: bold;
  font-size: 1.25rem;
}

.preparationsSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.ecoSection {
  margin-top: 1rem;
}


@media screen and (max-width: 450px) {
  .scheduleTables {
    display: flex;
    flex-direction: column;

  }
}