.EcoRadioButtonsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  align-items: flex-start;
}

.asdf {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;

}

.ecoSubCheck {
  min-height: 8rem;
}

.editDiv {
  height: 2rem;
}

.editDivisions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.editDivisionsFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editDivisionsFlex>h4 {
  flex-basis: 100%;
}