.UITopLine {

  margin: auto;
  width: 100%;
  margin-bottom: 1rem;

}

.UITopFirstLine {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}



@media screen and (max-width: 500px) {
  .UITopLine {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}