.ecoDiv {
  border: 1px solid var(--dark-main-1);
  margin: 1rem auto;
}

.titleHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 0px 2rem;
  margin-top: 0px;
}

.detailsHeader {
  margin: auto;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.noDetails {
  text-align: center;
}

.detDiv {
  padding: 0.5rem;
}