* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
}

* {
  --dark-main-1: darkblue;
  --dark-main-2: dodgerblue;
  --light-main-1: white;
  --light-main-2: bisque;
  --support-1: lightgrey;
  --classic: black;
}

h1 {
  color: var(--dark-main-1);
}